In [1]:
# import the pandas library 
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three']) 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) 
print(df)

        one       two     three
a  0.163544  0.663289  0.077292
b       NaN       NaN       NaN
c  0.706453  0.616742 -0.607153
d       NaN       NaN       NaN
e -0.379736 -0.530308 -0.491888
f -0.808676 -0.003278 -0.989652
g       NaN       NaN       NaN
h  0.529459 -0.114413 -0.019536

In [1]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three']) 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df['two'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: two, dtype: bool

In [8]:
import pandas as pd 
import numpy as np
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one', 'two', 'three']) 
df = df.reindex(['a', 'b', 'c']) 
print(df)
# print(df.columns)
for col in df.columns:
    print (df[col].fillna(np.mean(df[col]), inplace=True))
# print ("NaN replaced with '0':")
# print(df.fillna(np.mean(df)))
df
# print (df.fillna(0))

        one       two     three
a  0.917935  1.159704 -1.287493
b       NaN       NaN       NaN
c  0.824697  1.336902 -0.172596
Index(['one', 'two', 'three'], dtype='object')
None
None
None

        one       two     three
a  0.917935  1.159704 -1.287493
b  0.871316  1.248303 -0.730045
c  0.824697  1.336902 -0.172596

In [3]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three']) 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) 
print(df.fillna(method='pad'))

        one       two     three
a  0.280968  0.340048 -0.058734
b  0.280968  0.340048 -0.058734
c -0.364910  0.795147  1.033616
d -0.364910  0.795147  1.033616
e -0.555440 -0.065332  0.512179
f  0.544163  1.524583  0.558144
g  0.544163  1.524583  0.558144
h  1.977591 -1.261935  0.132281

C:\Users\udaraka\AppData\Local\Temp\ipykernel_6684\3777768052.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='pad'))

In [4]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three']) 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) 
print(df.dropna())

        one       two     three
a -0.666931  0.035485  1.408556
c  2.411598  0.637778  0.009403
e -2.579787  1.065795  1.133203
f  0.758449  0.896296  0.965480
h  0.406850  0.551284  0.719214