In [1]:
import pandas as pd 
left = pd.DataFrame({ 
               'id':[1,2,3,4,5], 
               'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 'subject_id':['sub1','sub2','sub4','sub6','sub5']}) 
right = pd.DataFrame( 
             {'id':[1,2,3,4,5], 
              'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left) 
print(right)
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

Empty DataFrame
Columns: [id, Name, subject_id]
Index: []

In [4]:
# import the pandas library 
import pandas as pd 
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 
                  'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],                                                                                                         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2], 
     'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],       'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
grouped = df.groupby('Year') 
print (grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [7]:
import pandas as pd 
one = pd.DataFrame({ 'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],'subject_id':['sub1','sub2','sub4','sub6','sub5'], 'Marks_scored':[98,90,87,69,78]}, index=[1,2,3,4,5])
two = pd.DataFrame({ 'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[89,80,79,97,88]}, 
index=[1,2,3,4,5])
print (pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [8]:
import pandas as pd 
dataframe=pd.DataFrame({'Attendance': {0: 60, 1: 100, 2: 80,3: 78,4: 95}, 'Obtained Marks': {0: 90, 1: 75, 2: 82, 3: 64, 4: 45}})
print("The Original Data frame is: \n") 
print(dataframe) 
dataframe1 = dataframe.rolling(2).sum() 
print("The Rolling Window After Calculation is: \n")
print(dataframe1)

The Original Data frame is:

   Attendance  Obtained Marks
0          60              90
1         100              75
2          80              82
3          78              64
4          95              45
The Rolling Window After Calculation is:

   Attendance  Obtained Marks
0         NaN             NaN
1       160.0           165.0
2       180.0           157.0
3       158.0           146.0
4       173.0           109.0

In [2]:
%pip install nltk

Requirement already satisfied: nltk in d:\programdata\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in d:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\programdata\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in d:\programdata\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in d:\programdata\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in d:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
data = "The quick brown fox jumps over the lazy dog."
print(word_tokenize(data))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\udaraka\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog', '.']

In [5]:
from nltk.tokenize import sent_tokenize
data = "The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. Sun rises in the east. Sun sets in the west."
print(sent_tokenize(data))

['The quick brown fox jumps over the lazy dog.', 'The quick brown fox jumps over the lazy dog.', 'Sun rises in the east.', 'Sun sets in the west.']

In [7]:
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()
word_data = "It originated from the idea that there are readers who prefer learning new skills \
      from the comforts of their drawing rooms"
# First word tokenization
nltk_tokens = nltk.word_tokenize(word_data)
# Next find the roots of the word
for w in nltk_tokens:
       print("Actual: %s Stem: %s"  % (w,porter_stemmer.stem(w)))

Actual: It Stem: it
Actual: originated Stem: origin
Actual: from Stem: from
Actual: the Stem: the
Actual: idea Stem: idea
Actual: that Stem: that
Actual: there Stem: there
Actual: are Stem: are
Actual: readers Stem: reader
Actual: who Stem: who
Actual: prefer Stem: prefer
Actual: learning Stem: learn
Actual: new Stem: new
Actual: skills Stem: skill
Actual: from Stem: from
Actual: the Stem: the
Actual: comforts Stem: comfort
Actual: of Stem: of
Actual: their Stem: their
Actual: drawing Stem: draw
Actual: rooms Stem: room